body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #5fb1ff, #014c92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(250, 192, 115, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    color: #353535;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #5fb1ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #004678;
}

.button-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secondary-btn {
    text-decoration: none;
    background-color: #94ea3f;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.secondary-btn:hover {
    background-color: #7dd632;
}
